## Finall Project

- Student ID: 20127514
- Full Name: Trần Thị Bảo Hương

# Collecting data

## What subject is your data about? 

    Trong cuộc sống hiện đại tấp nập, bồn bề, lo toang chúng ta phải đổi mặt với hàng loạt áp lực, những bất ốn trong cuộc sống. Những vấn đề, áp lực đó dần đè nặng nên khiến tâm trạng, tinh thân và công việc bị ảnh hưởng trì trệ. Điều này dẫn đến tình trạng sa sút kéo dài về mặt thể chất lẫn tinh thần. 

    Theo một nghiên cứu của Tổ chức Sức khỏe Tâm thần Thế giới vào năm 2018 cho biết có 74% dân số trên thế giới đang bị tình trạng căng thẳng (stress).

    Bên cạnh đó, theo một nghiên cứu mà các nhà khoa học Đức đưa ra, nếu một người sống đến năm 78 tuổi, họ sẽ mất khoảng 24 năm 4 tháng trong cuộc đời chỉ để dành cho việc ngủ. Như vậy, một người sẽ dành 1/3 thời gian cuộc đời mình cho việc nghỉ ngơi trên giường. Sự thật là giấc ngủ có vai trò vô cùng quan trọng đối với sức khỏe. 

    Vậy vấn đề chúng ta đặt ra là khi căng thẳng (stress) sẽ tác động đến giấc ngủ như thế nào. 

The subject of data relationship between stress and sleep

## What is the source of your data?
Author: [Laavanya Rachakonda](https://www.kaggle.com/laavanya)

## You can check the data license

## How did authors collect data?

# Exploring data

## Import

In [3]:
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt

# Read File

In [5]:
data_df = pd.read_csv('SaYoPillow.csv')
data_df.head()

      sr      rr       t      lm      bo    rem   sr.1     hr  sl
0  93.80  25.680  91.840  16.600  89.840  99.60  1.840  74.20   3
1  91.64  25.104  91.552  15.880  89.552  98.88  1.552  72.76   3
2  60.00  20.000  96.000  10.000  95.000  85.00  7.000  60.00   1
3  85.76  23.536  90.768  13.920  88.768  96.92  0.768  68.84   3
4  48.12  17.248  97.872   6.496  96.248  72.48  8.248  53.12   0